<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
<style>
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   /* background: #6c5e5d; */
   background-color: #f4e2e28a;
   color: black;
   text-align: center;
   max-height: fit-content;
}
</style>
</head>
<body>

<div class="footer"style="margin-top:10px">
  <br>
  <!-- <h5>
    <i class="fas fa-user-alt"></i> Contact : 9482286932<br><br>
    <i class="fas fa-mail-bulk"></i> Email : swastikvaidya2001@gmail.com
  </h5> -->
  <div class="jumbotron" style="margin-top: -20px;margin-bottom: 0px;background-color:rgb(234, 63, 63);">
   <h5> <i class="fas fa-user-alt"></i> Contact : 9482286932<br><br>
    <i class="fas fa-mail-bulk"></i> Email : swastikvaidya2001@gmail.com</h5>
    
  </div>
  <br>
  
</div>

</body>
</html> 
